.Head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 15px;
    padding: 15px;
    background-color: var(--black2);
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-wrap: wrap;
}

.Head .imageUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--black2);
}

.Head .imageUser img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Head .name,
.Head .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--black2);
    width: 100%;
    height: 100%;
    text-align: center;
}

.Head .userName span a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--black2);
}

.Head .name span,
.Head .userName span {
    background-color: var(--black2);
}

.Head .name {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--react);
    background-color: var(--black2);
}

.Head .userName {
    font-size: 1.5rem;
    color: var(--white);
}

@media (max-width: 768px) {
    .Head {
        width: 375px;
    }

    .Head .imageUser {
        width: 200px;
        height: 200px;
    }

    .Head .name {
        font-size: 30px;
    }

    .Head .userName {
        font-size: 20px;
    }
}