.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    gap: 15px;
    margin-top: 15px;
}

.Footer a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

